:host {
  flex: auto;
  -webkit-flex: auto;
  max-width:200px;
  min-width:200px;
  width:200px;
}

.decks {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.title {
  background-color: gray;
  margin: 10px;
}

.yellow {
  background-color: yellow;
}