[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.splash {
    display: none;
}

[ng-cloak].splash {
    display: block !important;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter .animate-enter-active {
    opacity: 1;
}

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: visible;
    height: 100%;
    max-height: 100%;
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.flex {
    flex: auto;
    -webkit-flex: auto;
}

.flex-h {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.right {
    width: 300px;
    max-width: 300px;
}

.header {
    padding: 15px;
    height: 30px;
    background-color: green;
    font-size: 20px;
    text-align: center;
}

.btn {
    cursor: pointer;
    font-weight: bold;
"
}

.btn:hover {
    color: white;
}

textarea {
    resize: none;

    background-color: yellow;
    max-height: 50px;
}

/* none|horizontal|vertical|both */

#info {
    margin-left: 10px;
    height: 100px;
    overflow: auto;
}

#logs {
    background-color: red;
    width: 100%;
    overflow-y: auto;
    height: 100px;

}

h1, p {
    color: #333;
}

.pointer {
    cursor: pointer;
}

.card {
    flex: auto;
    -webkit-flex: auto;
    background-size: 100% 100%;
    width: 40px;
    height: 60px;
}

.deck{
    flex:auto;
    -webkit-flex:auto;
    display:flex;
    display:-webkit-flex;
}

.decks{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-wrap:auto;
}

.canSelect {
    cursor: pointer;
    box-shadow: 0px 0px 10px 4px rgba(255, 217, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 4px rgba(255, 217, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(255, 217, 0, 0.5);
}

.canSelectRed {
    cursor: pointer;
    box-shadow: 0px 0px 10px 4px rgba(255, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px 4px rgba(255, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(255, 0, 0, 0.8);
}

.canSelectRedInset {
    cursor: pointer;
    box-shadow: inset 0px 0px 5px 2px #00FF00;
    -moz-box-shadow: inset 0px 0px 5px 2px #00FF00;
    -webkit-box-shadow: inset 0px 0px 5px 2px #00FF00;
}

.canSelectRedInset:hover {
    box-shadow: inset 0px 0px 5px 4px #FFFF00;
    -moz-box-shadow: inset 0px 0px 5px 4px #FFFF00;
    -webkit-box-shadow: inset 0px 0px 5px 4px #FFFF00;
}





