<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style"
          content="black-translucent"/>
    <title>Dominion v0.8.3</title>
    <link rel="stylesheet" href="cardgame.css"/>
    <!--
    <script id="deck" type="text/ng-template">
      <span
      ng-class="c.getCardStyle(card)" ng-repeat="card in deck.cards"
      ng-style="c.getBackground(card.cid)"
      ng-mouseover="c.showCard(card.cid)" ng-mouseout="c.hindCard()"
      ng-click="c.clickCard(card)"> </span> <br clear="both" />
    </script>

    <script id="deck_name" type="text/ng-template">
      <div>
      {{c.deckNames[$index]}} <span
      ng-if="deck.showNum==2 || (c.model.id==$parent.$index && deck.showNum==1)">
      [{{deck.cardNum}}] </span>
      </div>
    </script>
    -->
</head>
<body class="flex-box" card-game>
<div class="splash" ng-cloak>

    <p>Loading...</p>
</div>


<div class="flex flex-box flex-h" ng-cloak>
    <div class="header">
        {{c.model.title}}
        <span ng-repeat="btn in c.model.btns"
              ng-click="c.clickButton($index)" class='btn'>
            [{{btn}}]
		</span>

    </div>


    <h1>Supply</h1>

    <div class="flex flex-box">
        <host model="c.model.host"></host>
    </div>

    <h1>Players</h1>


    <div class="flex flex-box flex-h">
        <user ng-if="c.model.users != null" ng-repeat="user in c.model.users" model="user"></user>
    </div>


</div>


<div class="right flex flex-box flex-h" ng-cloak>

    <div id="info">
        <div ng-if="c.model.start">
            <div ng-if="c.model.hasValue">公開資訊:</div>

            <ul>
                <li ng-if="c.model.getValue('action')">行動:
                    {{c.model.getValue('action')}}
                </li>
                <li ng-if="c.model.getValue('buy')">購買:
                    {{c.model.getValue('buy')}}
                </li>
                <li ng-if="c.model.getValue('gold')">金幣:
                    {{c.model.getValue('gold')}}
                </li>
                <li ng-if="c.model.getValue('route')">銷路:
                    {{c.model.getValue('route')}}
                </li>
            </ul>

            <div ng-if="c.clientUser.hasValue">私人資訊:</div>
            <ul>
                <li ng-if="c.clientUser.getValue('victory')">勝利點數:
                    {{c.clientUser.getValue('victory')}}
                </li>
                <!-- <div ng-repeat="info in c.model.info()">{{info.key}}</div> -->
            </ul>
        </div>
    </div>
    <div id="logs" class="flex"></div>
    <textarea class="flex" style="height: 40px;" id="inputBox"
              placeholder="Chat here."></textarea>
</div>


<!--<img ng-cloak id='tipCard'-->
     <!--ng-style="{'position': 'absolute','display': 'none'}"-->
     <!--alt="{{c.curCard.name}}"-->
     <!--ng-src="{{'img/200px-'+c.curCard.name+'.jpg'}}"/>-->


<script type="application/dart" src="dominion.dart"></script>
<script src="packages/browser/dart.js"></script>
</body>


</html>
